.white-bg { background: #ffffff; }
.gray-bg { background: #f7f7fd; }
.black-bg { background: #16161a; }
.theme-bg { background: #024089; } /* Gold color */
.white-color { color: #ffffff; }
.black-color { color: #16161a; }
.theme-color { color: #c6a16e; } /* Gold text color */

.boxed-btn {
    background: #FEC619; /* Initial button color */
    color: #ffffff;
    padding: 18px 44px;
    border: 1px solid #c6a16e;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .boxed-btn:hover { 
    background: #c6a16e; /* Change to theme color on hover */
    color: #ffffff; 
  }
  
  .border-btn {
    border: 2px solid #c6a16e;
    color: #c6a16e;
    background: none;
    padding: 28px 50px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .border-btn:hover::before { transform: scaleY(1); }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
    color: #0b1c39;
    margin-top: 0px;
    font-weight: 500;
  }
  
  p {
    font-family: "Great Vibes", cursive;
    color: #506172;
    font-size: 16px;
    line-height: 30px;
  }
  .btn { 
    background: #c6a16e;
    color: #ffffff;
    padding: 27px 44px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }
  
  .send-btn { 
    background: #c6a16e;
    color: #ffffff;
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .mt-5 { margin-top: 5px; }
  .mt-10 { margin-top: 10px; }
  .mt-20 { margin-top: 20px; }
  .mb-10 { margin-bottom: 10px; }
  .mb-20 { margin-bottom: 20px; }
  .pb-20 { padding-bottom: 20px; }
  .pt-20 { padding-top: 20px; }

@media (max-width: 767px) {
    .section-padding { padding-top: 70px; padding-bottom: 70px; }
    .btn1 { padding: 25px 0; }
  }
  
  .main-header .main-menu ul li {
    display: inline-block;
  }
  
  .main-header .main-menu ul li a {
    color: #021a47;
    font-weight: 500;
    padding: 28px 19px;
  }
  
  .main-header ul li:hover > ul.submenu {
    visibility: visible;
    opacity: 1;
  }

  .single-input {
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    background: #f9f9ff;
    border: none;
  }
  
  .form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    padding-left: 18px;
  }
  .overlay {
    position: relative;
    z-index: 0;
  }
  
  .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 10, 28, 0.3);
    z-index: -1;
  }
  .owl-carousel .owl-nav div {
    background: rgba(255, 255, 255, 0.8);
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .owl-carousel .owl-nav div.owl-next {
    right: -30px;
  }
  
  .owl-carousel:hover .owl-nav div:hover {
    color: #ffffff;
    background: #ff3500;
  }
      